#header ul{
	margin:0px;
	padding:0px;
	list-style:none;
}


#header li{
	float:left;
	margin:0px;
	padding:0px;
}


#header li a{
	display:block;
	width:150px;
	background-color:red;
	margin-right:5px;
	text-align:center;
	padding:2px;
}

.col-1{width:8.33%;
border:1px solid black;
padding:20px;}
.col-2{width:16.66%;
border:1px solid black;
padding:20px;}
.col-3{width:24.99%;
border:1px solid black;
padding:20px;}
.col-4{width:33.32%;
border:1px solid black;
padding: 20px;}
.col-5{width:41.65%;
border:1px solid black;
padding:20px;}
.col-6{width:49.98%;
border:1px solid black;
padding:20px;}
.col-7{width:58.31%;
border:1px solid black;
padding:20px;}
.col-8{width:66.64%;
border:1px solid black;
padding:20px;}
.col-9{width:74.97%;
border:1px solid black;
padding:20px;}
.col-10{width:83.3%;
border:1px solid black;
padding:20px;}
.col-11{width:91.63%;
border:1px solid black;
padding:20px;}
.col-12{width:100%;
border:1px solid black;
padding:20px;}

.row{
	display: inline-flex;
	border:1px solid red
	width: 100%;
	padding:20px;
}
body {
	background-image: url('bbbbb.jpg');
	background-size: 100%;
}

.center {
	position: center;
	padding: 20px;
	text-align:center; 
}
.map {
	width: 100%
}

.col-sm-3{
	width: 50%;
	padding: 20px;
	border: 1px solid black;
}
.col-sm-6{
	width: 90%;
	padding: 20px;
	border: 1px solid black;
}

img { margin: 60px;

}

.comment {
	text-align: center;
	padding: 20px;
	margin: center;
	text-decoration: bold;
	font-size: 30px; 
}


.option .month .day{
	display: inline-block;
	text-align: center;
	margin: center;
	padding: 40px;
	text-decoration: bold;
	font-size: 50px;
}

.col3{width: 24.99%;
		padding:5px;	
	}

#footer{
	width:100%;
	background-color:#B7F0A9		;
}

#footer ul{
	padding:10px; 
	list-style:none;
	width: 100%;
}

#footer li{
	
	margin:0px;
	padding:1px;
	padding-bottom: 2px;}


#footer li a{
	display:inline-flex;
	width:150px;
	margin-right:5px;
	text-align:center;
	padding:2px;
	color: black;
}

li span{
	background:gold;
}





